@charset "UTF-8";
/*!

 =========================================================
 * IPI Praksa - v1
 =========================================================

 * Designed by Muamer Mustafić

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
.navbar {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 53px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }
  .navbar a {
    vertical-align: middle; }
    .navbar a:not(.btn):not(.dropdown-item) {
      color: #FFFFFF; }
  .navbar p {
    display: inline-block;
    margin: 0;
    line-height: 21px; }
  .navbar .navbar-nav {
    margin-top: -8px; }
    .navbar .navbar-nav.navbar-logo {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 49px;
      top: -4px; }
    .navbar .navbar-nav .nav-link.btn {
      padding: 11px 25px; }
      .navbar .navbar-nav .nav-link.btn.btn-lg {
        padding: 15px 48px; }
      .navbar .navbar-nav .nav-link.btn.btn-sm {
        padding: 5px 15px; }
    .navbar .navbar-nav .nav-link:not(.btn) {
      text-transform: uppercase;
      font-size: 0.7142em;
      padding: 0.4rem 0.7rem;
      line-height: 1.625rem;
      margin: 0 7px;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      transition: all 150ms linear; }
      .navbar .navbar-nav .nav-link:not(.btn) i.fa + p,
      .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons + p {
        margin-left: 5px; }
      .navbar .navbar-nav .nav-link:not(.btn) i.fa,
      .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
        font-size: 18px;
        position: relative;
        top: 2px;
        text-align: center;
        width: 21px; }
      .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
        top: 4px;
        font-size: 16px; }
      .navbar .navbar-nav .nav-link:not(.btn).profile-photo .profile-photo-small {
        width: 27px;
        height: 27px; }
      .navbar .navbar-nav .nav-link:not(.btn).disabled {
        opacity: .5;
        color: #FFFFFF; }
    .navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
    .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
    .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
    .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.1875rem; }
  .navbar .logo-container {
    width: 27px;
    height: 27px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent; }
  .navbar .navbar-brand {
    text-transform: uppercase;
    font-size: 0.8571em;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    line-height: 1.625rem;
    width: 80px;
    margin-top: -10px; }
  .navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;
    float: right;
    margin-top: 20px; }
    .navbar .navbar-toggler i {
      color: #FFFFFF; }
    .navbar .navbar-toggler.navbar-toggler-left {
      position: relative;
      left: 0;
      padding-left: 0; }
    .navbar .navbar-toggler:hover .navbar-toggler-bar.bar2 {
      width: 22px; }
  .navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
    width: 17px; }
  .navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    color: #FFFFFF;
    padding-top: 20px; }
  .navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item) {
    color: #888; }
    .navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item).disabled {
      opacity: .5;
      color: #888; }
  .navbar.bg-white:not(.navbar-transparent) .button-bar {
    background: #888; }
  .navbar.bg-white:not(.navbar-transparent) .nav-item.active .nav-link:not(.btn),
  .navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):focus,
  .navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):hover,
  .navbar.bg-white:not(.navbar-transparent) .nav-item .nav-link:not(.btn):active {
    background-color: rgba(222, 222, 222, 0.3); }
  .navbar.bg-white:not(.navbar-transparent) .logo-container {
    border: 1px solid #888; }

.bg-default {
  background-color: #888 !important; }

.bg-primary {
  background-color: #2CA8FF !important; }

.bg-info {
  background-color: #2CA8FF !important; }

.bg-success {
  background-color: #18ce0f !important; }

.bg-danger {
  background-color: #FF3636 !important; }

.bg-warning {
  background-color: #FFB236 !important; }

.bg-white {
  background-color: #FFFFFF !important; }

.btn, .navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 0;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 25px;
  cursor: pointer;
  background-color: #888;
  color: #FFFFFF; }
  .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .show > .btn.dropdown-toggle, .show > .btn.dropdown-toggle:focus, .show > .btn.dropdown-toggle:hover,
  .navbar .navbar-nav > a.btn:hover,
  .navbar .navbar-nav > a.btn:focus,
  .navbar .navbar-nav > a.btn:active,
  .navbar .navbar-nav > a.btn.active,
  .navbar .navbar-nav > a.btn:active:focus,
  .navbar .navbar-nav > a.btn:active:hover,
  .navbar .navbar-nav > a.btn.active:focus,
  .navbar .navbar-nav > a.btn.active:hover, .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle, .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle:focus, .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
    background-color: #626262;
    color: #FFFFFF;
    box-shadow: none; }
  .btn:hover,
  .navbar .navbar-nav > a.btn:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active,
  .navbar .navbar-nav > a.btn.disabled,
  .navbar .navbar-nav > a.btn.disabled:hover,
  .navbar .navbar-nav > a.btn.disabled:focus,
  .navbar .navbar-nav > a.btn.disabled.focus,
  .navbar .navbar-nav > a.btn.disabled:active,
  .navbar .navbar-nav > a.btn.disabled.active,
  .navbar .navbar-nav > a.btn:disabled,
  .navbar .navbar-nav > a.btn:disabled:hover,
  .navbar .navbar-nav > a.btn:disabled:focus,
  .navbar .navbar-nav > a.btn:disabled.focus,
  .navbar .navbar-nav > a.btn:disabled:active,
  .navbar .navbar-nav > a.btn:disabled.active,
  .navbar .navbar-nav > a.btn[disabled],
  .navbar .navbar-nav > a.btn[disabled]:hover,
  .navbar .navbar-nav > a.btn[disabled]:focus,
  .navbar .navbar-nav > a.btn[disabled].focus,
  .navbar .navbar-nav > a.btn[disabled]:active,
  .navbar .navbar-nav > a.btn[disabled].active,
  fieldset[disabled] .navbar .navbar-nav > a.btn,
  fieldset[disabled] .navbar .navbar-nav > a.btn:hover,
  fieldset[disabled] .navbar .navbar-nav > a.btn:focus,
  fieldset[disabled] .navbar .navbar-nav > a.btn.focus,
  fieldset[disabled] .navbar .navbar-nav > a.btn:active,
  fieldset[disabled] .navbar .navbar-nav > a.btn.active {
    background-color: #888;
    border-color: #888; }
  .btn.btn-simple, .navbar .navbar-nav > a.btn.btn-simple {
    color: #888;
    border-color: #888; }
    .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active, .navbar .navbar-nav > a.btn.btn-simple:hover, .navbar .navbar-nav > a.btn.btn-simple:focus, .navbar .navbar-nav > a.btn.btn-simple:active {
      background-color: transparent;
      color: #626262;
      border-color: #626262;
      box-shadow: none; }
  .btn.btn-link, .navbar .navbar-nav > a.btn.btn-link {
    color: #888; }
    .btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link:active, .navbar .navbar-nav > a.btn.btn-link:hover, .navbar .navbar-nav > a.btn.btn-link:focus, .navbar .navbar-nav > a.btn.btn-link:active {
      background-color: transparent;
      color: #626262;
      text-decoration: none;
      box-shadow: none; }
  .btn:hover, .btn:focus, .navbar .navbar-nav > a.btn:hover, .navbar .navbar-nav > a.btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important; }
  .btn:active, .btn.active, .open > .btn.dropdown-toggle, .navbar .navbar-nav > a.btn:active, .navbar .navbar-nav > a.btn.active, .open > .navbar .navbar-nav > a.btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important; }
  .btn.btn-icon, .navbar .navbar-nav > a.btn.btn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal; }
    .btn.btn-icon.btn-simple, .navbar .navbar-nav > a.btn.btn-icon.btn-simple {
      padding: 0; }
    .btn.btn-icon.btn-sm, .navbar .navbar-nav > a.btn.btn-icon.btn-sm {
      height: 1.875rem;
      min-width: 1.875rem;
      width: 1.875rem; }
      .btn.btn-icon.btn-sm i.fa,
      .btn.btn-icon.btn-sm i.now-ui-icons, .navbar .navbar-nav > a.btn.btn-icon.btn-sm i.fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm i.now-ui-icons {
        font-size: 0.6875rem; }
    .btn.btn-icon.btn-lg, .navbar .navbar-nav > a.btn.btn-icon.btn-lg {
      height: 3.6rem;
      min-width: 3.6rem;
      width: 3.6rem; }
      .btn.btn-icon.btn-lg i.now-ui-icons,
      .btn.btn-icon.btn-lg i.fa, .navbar .navbar-nav > a.btn.btn-icon.btn-lg i.now-ui-icons,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg i.fa {
        font-size: 1.325rem; }
    .btn.btn-icon:not(.btn-footer) i.now-ui-icons, .btn.btn-icon:not(.btn-footer) i.fa, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.now-ui-icons, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i.fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-12px, -12px);
      line-height: 1.5626rem;
      width: 25px; }
  .btn:not(.btn-icon) .now-ui-icons, .navbar .navbar-nav > a.btn:not(.btn-icon) .now-ui-icons {
    position: relative;
    top: 1px; }

.btn-primary {
  background-color: #2CA8FF;
  color: #FFFFFF; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
    background-color: #0083df;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-primary:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #2CA8FF;
    border-color: #2CA8FF; }
  .btn-primary.btn-simple {
    color: #2CA8FF;
    border-color: #2CA8FF; }
    .btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active {
      background-color: transparent;
      color: #0083df;
      border-color: #0083df;
      box-shadow: none; }
  .btn-primary.btn-link {
    color: #2CA8FF; }
    .btn-primary.btn-link:hover, .btn-primary.btn-link:focus, .btn-primary.btn-link:active {
      background-color: transparent;
      color: #0083df;
      text-decoration: none;
      box-shadow: none; }

.btn-success {
  background-color: #18ce0f;
  color: #FFFFFF; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success:active:focus, .btn-success:active:hover, .btn-success.active:focus, .btn-success.active:hover, .show > .btn-success.dropdown-toggle, .show > .btn-success.dropdown-toggle:focus, .show > .btn-success.dropdown-toggle:hover {
    background-color: #10870a;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-success:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #18ce0f;
    border-color: #18ce0f; }
  .btn-success.btn-simple {
    color: #18ce0f;
    border-color: #18ce0f; }
    .btn-success.btn-simple:hover, .btn-success.btn-simple:focus, .btn-success.btn-simple:active {
      background-color: transparent;
      color: #10870a;
      border-color: #10870a;
      box-shadow: none; }
  .btn-success.btn-link {
    color: #18ce0f; }
    .btn-success.btn-link:hover, .btn-success.btn-link:focus, .btn-success.btn-link:active {
      background-color: transparent;
      color: #10870a;
      text-decoration: none;
      box-shadow: none; }

.btn-info {
  background-color: #2CA8FF;
  color: #FFFFFF; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:focus, .btn-info.active:hover, .show > .btn-info.dropdown-toggle, .show > .btn-info.dropdown-toggle:focus, .show > .btn-info.dropdown-toggle:hover {
    background-color: #0083df;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-info:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus, .btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #2CA8FF;
    border-color: #2CA8FF; }
  .btn-info.btn-simple {
    color: #2CA8FF;
    border-color: #2CA8FF; }
    .btn-info.btn-simple:hover, .btn-info.btn-simple:focus, .btn-info.btn-simple:active {
      background-color: transparent;
      color: #0083df;
      border-color: #0083df;
      box-shadow: none; }
  .btn-info.btn-link {
    color: #2CA8FF; }
    .btn-info.btn-link:hover, .btn-info.btn-link:focus, .btn-info.btn-link:active {
      background-color: transparent;
      color: #0083df;
      text-decoration: none;
      box-shadow: none; }

.btn-warning {
  background-color: #FFB236;
  color: #FFFFFF; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning:active:focus, .btn-warning:active:hover, .btn-warning.active:focus, .btn-warning.active:hover, .show > .btn-warning.dropdown-toggle, .show > .btn-warning.dropdown-toggle:focus, .show > .btn-warning.dropdown-toggle:hover {
    background-color: #e98f00;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-warning:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning:disabled, .btn-warning:disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:active, .btn-warning:disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #FFB236;
    border-color: #FFB236; }
  .btn-warning.btn-simple {
    color: #FFB236;
    border-color: #FFB236; }
    .btn-warning.btn-simple:hover, .btn-warning.btn-simple:focus, .btn-warning.btn-simple:active {
      background-color: transparent;
      color: #e98f00;
      border-color: #e98f00;
      box-shadow: none; }
  .btn-warning.btn-link {
    color: #FFB236; }
    .btn-warning.btn-link:hover, .btn-warning.btn-link:focus, .btn-warning.btn-link:active {
      background-color: transparent;
      color: #e98f00;
      text-decoration: none;
      box-shadow: none; }

.btn-danger {
  background-color: #FF3636;
  color: #FFFFFF; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger:active:focus, .btn-danger:active:hover, .btn-danger.active:focus, .btn-danger.active:hover, .show > .btn-danger.dropdown-toggle, .show > .btn-danger.dropdown-toggle:focus, .show > .btn-danger.dropdown-toggle:hover {
    background-color: #e90000;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-danger:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #FF3636;
    border-color: #FF3636; }
  .btn-danger.btn-simple {
    color: #FF3636;
    border-color: #FF3636; }
    .btn-danger.btn-simple:hover, .btn-danger.btn-simple:focus, .btn-danger.btn-simple:active {
      background-color: transparent;
      color: #e90000;
      border-color: #e90000;
      box-shadow: none; }
  .btn-danger.btn-link {
    color: #FF3636; }
    .btn-danger.btn-link:hover, .btn-danger.btn-link:focus, .btn-danger.btn-link:active {
      background-color: transparent;
      color: #e90000;
      text-decoration: none;
      box-shadow: none; }

.btn-neutral {
  background-color: #FFFFFF;
  color: #2CA8FF; }
  .btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .btn-neutral:active:focus, .btn-neutral:active:hover, .btn-neutral.active:focus, .btn-neutral.active:hover, .show > .btn-neutral.dropdown-toggle, .show > .btn-neutral.dropdown-toggle:focus, .show > .btn-neutral.dropdown-toggle:hover {
    background-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: none; }
  .btn-neutral:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17); }
  .btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  .btn-neutral.btn-danger {
    color: #FF3636; }
    .btn-neutral.btn-danger:hover, .btn-neutral.btn-danger:focus, .btn-neutral.btn-danger:active {
      color: #e90000; }
  .btn-neutral.btn-info {
    color: #2CA8FF; }
    .btn-neutral.btn-info:hover, .btn-neutral.btn-info:focus, .btn-neutral.btn-info:active {
      color: #0083df; }
  .btn-neutral.btn-warning {
    color: #FFB236; }
    .btn-neutral.btn-warning:hover, .btn-neutral.btn-warning:focus, .btn-neutral.btn-warning:active {
      color: #e98f00; }
  .btn-neutral.btn-success {
    color: #18ce0f; }
    .btn-neutral.btn-success:hover, .btn-neutral.btn-success:focus, .btn-neutral.btn-success:active {
      color: #10870a; }
  .btn-neutral.btn-default {
    color: #888; }
    .btn-neutral.btn-default:hover, .btn-neutral.btn-default:focus, .btn-neutral.btn-default:active {
      color: #626262; }
  .btn-neutral.btn-gradient {
    color: #888; }
    .btn-neutral.btn-gradient:hover, .btn-neutral.btn-gradient:focus, .btn-neutral.btn-gradient:active {
      color: #626262; }
  .btn-neutral.active, .btn-neutral:active, .btn-neutral:active:focus, .btn-neutral:active:hover, .btn-neutral.active:focus, .btn-neutral.active:hover, .show > .btn-neutral.dropdown-toggle, .show > .btn-neutral.dropdown-toggle:focus, .show > .btn-neutral.dropdown-toggle:hover {
    background-color: #FFFFFF;
    color: #0083df;
    box-shadow: none; }
  .btn-neutral:hover, .btn-neutral:focus {
    color: #0083df; }
    .btn-neutral:hover:not(.nav-link), .btn-neutral:focus:not(.nav-link) {
      box-shadow: none; }
  .btn-neutral.btn-simple {
    color: #FFFFFF;
    border-color: #FFFFFF; }
    .btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active {
      background-color: transparent;
      color: #FFFFFF;
      border-color: #FFFFFF;
      box-shadow: none; }
  .btn-neutral.btn-link {
    color: #FFFFFF; }
    .btn-neutral.btn-link:hover, .btn-neutral.btn-link:focus, .btn-neutral.btn-link:active {
      background-color: transparent;
      color: #FFFFFF;
      text-decoration: none;
      box-shadow: none; }

.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px; }
  .btn-round.btn-simple {
    padding: 10px 22px; }

.btn-simple {
  border: 1px solid;
  border-color: #888;
  padding: 10px 22px;
  background-color: transparent; }

.btn-simple.disabled, .btn-simple.disabled:hover, .btn-simple.disabled:focus, .btn-simple.disabled.focus, .btn-simple.disabled:active, .btn-simple.disabled.active, .btn-simple:disabled, .btn-simple:disabled:hover, .btn-simple:disabled:focus, .btn-simple:disabled.focus, .btn-simple:disabled:active, .btn-simple:disabled.active, .btn-simple[disabled], .btn-simple[disabled]:hover, .btn-simple[disabled]:focus, .btn-simple[disabled].focus, .btn-simple[disabled]:active, .btn-simple[disabled].active, fieldset[disabled] .btn-simple, fieldset[disabled] .btn-simple:hover, fieldset[disabled] .btn-simple:focus, fieldset[disabled] .btn-simple.focus, fieldset[disabled] .btn-simple:active, fieldset[disabled] .btn-simple.active,
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled.focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link:disabled,
.btn-link:disabled:hover,
.btn-link:disabled:focus,
.btn-link:disabled.focus,
.btn-link:disabled:active,
.btn-link:disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled].focus,
.btn-link[disabled]:active,
.btn-link[disabled].active,
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link.focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
  background-color: transparent; }

.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px; }
  .btn-lg.btn-simple {
    padding: 14px 47px; }

.btn-sm {
  font-size: 14px;
  border-radius: 0.1875rem;
  padding: 5px 15px; }
  .btn-sm.btn-simple {
    padding: 4px 14px; }

.btn-link {
  border: 0;
  padding: 0.4rem 0.7rem;
  background-color: transparent; }

.btn-wd {
  min-width: 140px; }

.btn-group.select {
  width: 100%; }

.btn-group.select .btn {
  text-align: left; }

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px; }

.dropdown-menu {
  border: 0;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  font-size: 14px; }
  .dropdown-menu.dropdown-menu-right:before {
    left: auto;
    right: 16px; }
  .dropdown-menu:before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    left: 10px;
    right: auto;
    color: #FFFFFF;
    border-bottom: .4em solid;
    border-right: .4em solid transparent;
    border-left: .4em solid transparent; }
  .dropdown-menu .dropdown-item {
    font-size: 0.8571em;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear; }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
      background-color: rgba(222, 222, 222, 0.3); }
  .dropdown-menu .dropdown-divider {
    background-color: rgba(222, 222, 222, 0.5); }
  .dropdown-menu .dropdown-header:not([href]):not([tabindex]) {
    color: rgba(182, 182, 182, 0.6);
    font-size: 0.7142em;
    text-transform: uppercase;
    font-weight: 700; }
  .dropdown-menu.dropdown-default {
    background-color: gray; }
    .dropdown-menu.dropdown-default:before {
      color: gray; }
    .dropdown-menu.dropdown-default .dropdown-header:not([href]):not([tabindex]) {
      color: rgba(255, 255, 255, 0.8); }
    .dropdown-menu.dropdown-default .dropdown-item {
      color: #FFFFFF; }
      .dropdown-menu.dropdown-default .dropdown-item:hover, .dropdown-menu.dropdown-default .dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.2); }
    .dropdown-menu.dropdown-default .dropdown-divider {
      background-color: rgba(255, 255, 255, 0.2); }
  .dropdown-menu.dropdown-primary {
    background-color: #1da2ff; }
    .dropdown-menu.dropdown-primary:before {
      color: #1da2ff; }
    .dropdown-menu.dropdown-primary .dropdown-header:not([href]):not([tabindex]) {
      color: rgba(255, 255, 255, 0.8); }
    .dropdown-menu.dropdown-primary .dropdown-item {
      color: #FFFFFF; }
      .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropdown-menu.dropdown-primary .dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.2); }
    .dropdown-menu.dropdown-primary .dropdown-divider {
      background-color: rgba(255, 255, 255, 0.2); }
  .dropdown-menu.dropdown-info {
    background-color: #1da2ff; }
    .dropdown-menu.dropdown-info:before {
      color: #1da2ff; }
    .dropdown-menu.dropdown-info .dropdown-header:not([href]):not([tabindex]) {
      color: rgba(255, 255, 255, 0.8); }
    .dropdown-menu.dropdown-info .dropdown-item {
      color: #FFFFFF; }
      .dropdown-menu.dropdown-info .dropdown-item:hover, .dropdown-menu.dropdown-info .dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.2); }
    .dropdown-menu.dropdown-info .dropdown-divider {
      background-color: rgba(255, 255, 255, 0.2); }
  .dropdown-menu.dropdown-danger {
    background-color: #ff2727; }
    .dropdown-menu.dropdown-danger:before {
      color: #ff2727; }
    .dropdown-menu.dropdown-danger .dropdown-header:not([href]):not([tabindex]) {
      color: rgba(255, 255, 255, 0.8); }
    .dropdown-menu.dropdown-danger .dropdown-item {
      color: #FFFFFF; }
      .dropdown-menu.dropdown-danger .dropdown-item:hover, .dropdown-menu.dropdown-danger .dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.2); }
    .dropdown-menu.dropdown-danger .dropdown-divider {
      background-color: rgba(255, 255, 255, 0.2); }
  .dropdown-menu.dropdown-success {
    background-color: #16c00e; }
    .dropdown-menu.dropdown-success:before {
      color: #16c00e; }
    .dropdown-menu.dropdown-success .dropdown-header:not([href]):not([tabindex]) {
      color: rgba(255, 255, 255, 0.8); }
    .dropdown-menu.dropdown-success .dropdown-item {
      color: #FFFFFF; }
      .dropdown-menu.dropdown-success .dropdown-item:hover, .dropdown-menu.dropdown-success .dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.2); }
    .dropdown-menu.dropdown-success .dropdown-divider {
      background-color: rgba(255, 255, 255, 0.2); }
  .dropdown-menu.dropdown-warning {
    background-color: #ffac27; }
    .dropdown-menu.dropdown-warning:before {
      color: #ffac27; }
    .dropdown-menu.dropdown-warning .dropdown-header:not([href]):not([tabindex]) {
      color: rgba(255, 255, 255, 0.8); }
    .dropdown-menu.dropdown-warning .dropdown-item {
      color: #FFFFFF; }
      .dropdown-menu.dropdown-warning .dropdown-item:hover, .dropdown-menu.dropdown-warning .dropdown-item:focus {
        background-color: rgba(255, 255, 255, 0.2); }
    .dropdown-menu.dropdown-warning .dropdown-divider {
      background-color: rgba(255, 255, 255, 0.2); }
  .dropdown .dropdown-menu {
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    visibility: hidden;
    display: none;
    opacity: 0;
    filter: alpha(opacity=0); }
  .dropdown.show .dropdown-menu, .dropdown-menu.open {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    display: block;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); }
  .navbar .dropdown.show .dropdown-menu {
    -webkit-transform: translate3d(0, 7px, 0);
    -moz-transform: translate3d(0, 7px, 0);
    -o-transform: translate3d(0, 7px, 0);
    -ms-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0); }

.button-dropdown {
  padding-right: 0.7rem;
  cursor: pointer; }
  .button-dropdown .dropdown-toggle {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: block; }
    .button-dropdown .dropdown-toggle:after {
      display: none; }

.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding-top: .9rem;
  padding-bottom: .9rem;
  position: relative; }
  .alert.alert-success {
    background-color: rgba(24, 206, 15, 0.8); }
  .alert.alert-danger {
    background-color: rgba(255, 54, 54, 0.8); }
  .alert.alert-warning {
    background-color: rgba(255, 178, 54, 0.8); }
  .alert.alert-info {
    background-color: rgba(44, 168, 255, 0.8); }
  .alert.alert-primary {
    background-color: rgba(44, 168, 255, 0.8); }
  .alert .alert-icon {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: -1px; }
  .alert strong {
    text-transform: uppercase;
    font-size: 12px; }
  .alert i.fa,
  .alert i.now-ui-icons {
    font-size: 20px; }
  .alert .close {
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
    line-height: 0;
    outline: 0; }

.form-control::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100); }

.form-control:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100); }

.form-control::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100); }

.form-control:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100); }

.form-control {
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #FFFFFF;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-success .form-control {
    border-color: #E3E3E3; }
  .form-control:focus {
    border: 1px solid #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #FFFFFF; }
    .form-control:focus + .input-group-addon, .form-control:focus ~ .input-group-addon {
      border: 1px solid #2CA8FF;
      border-left: none;
      background-color: transparent; }
  .has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .has-success .form-control:focus {
    border-color: #1be611; }
  .has-danger .form-control.form-control-success, .has-danger .form-control.form-control-danger, .has-success .form-control.form-control-success, .has-success .form-control.form-control-danger {
    background-image: none; }
  .has-danger .form-control {
    border-color: #ffcfcf;
    color: #FF3636;
    background-color: rgba(222, 222, 222, 0.1); }
    .has-danger .form-control:focus {
      background-color: #FFFFFF; }
  .form-control + .form-control-feedback {
    border-radius: 0.25rem;
    font-size: 14px;
    margin-top: 0;
    position: absolute;
    left: 18px;
    bottom: -20px;
    vertical-align: middle; }
  .open .form-control {
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom-color: transparent; }
  .form-control + .input-group-addon {
    background-color: #FFFFFF; }

.has-success:after,
.has-danger:after {
  font-family: 'Nucleo Outline';
  content: "\ea22";
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #18ce0f;
  font-size: 11px; }
.has-success.input-lg:after,
.has-danger.input-lg:after {
  font-size: 13px;
  top: 13px; }

.has-danger:after {
  content: "\ea53";
  color: #FF3636; }

.form-group.form-group-no-border.input-lg .input-group-addon,
.input-group.form-group-no-border.input-lg .input-group-addon {
  padding: 15px 0 15px 19px; }
.form-group.form-group-no-border.input-lg .form-control,
.input-group.form-group-no-border.input-lg .form-control {
  padding: 15px 19px; }
  .form-group.form-group-no-border.input-lg .form-control + .input-group-addon,
  .input-group.form-group-no-border.input-lg .form-control + .input-group-addon {
    padding: 15px 19px 15px 0; }

.form-group.input-lg .form-control,
.input-group.input-lg .form-control {
  padding: 14px 18px; }
  .form-group.input-lg .form-control + .input-group-addon,
  .input-group.input-lg .form-control + .input-group-addon {
    padding: 14px 18px 14px 0; }
.form-group.input-lg .input-group-addon,
.input-group.input-lg .input-group-addon {
  padding: 14px 0 15px 18px; }
  .form-group.input-lg .input-group-addon + .form-control,
  .input-group.input-lg .input-group-addon + .form-control {
    padding: 15px 18px 15px 16px; }

.form-group.form-group-no-border .form-control,
.input-group.form-group-no-border .form-control {
  padding: 11px 19px; }
  .form-group.form-group-no-border .form-control + .input-group-addon,
  .input-group.form-group-no-border .form-control + .input-group-addon {
    padding: 11px 19px 11px 0; }
.form-group.form-group-no-border .input-group-addon,
.input-group.form-group-no-border .input-group-addon {
  padding: 11px 0 11px 19px; }

.form-group .form-control,
.input-group .form-control {
  padding: 10px 18px 10px 18px; }
  .form-group .form-control + .input-group-addon,
  .input-group .form-control + .input-group-addon {
    padding: 10px 18px 10px 0; }
.form-group .input-group-addon,
.input-group .input-group-addon {
  padding: 10px 0 10px 18px; }
  .form-group .input-group-addon + .form-control, .form-group .input-group-addon ~ .form-control,
  .input-group .input-group-addon + .form-control,
  .input-group .input-group-addon ~ .form-control {
    padding: 10px 19px 11px 16px; }

.form-group.form-group-no-border .form-control,
.form-group.form-group-no-border .form-control + .input-group-addon,
.input-group.form-group-no-border .form-control,
.input-group.form-group-no-border .form-control + .input-group-addon {
  background-color: rgba(222, 222, 222, 0.3);
  border: medium none; }
  .form-group.form-group-no-border .form-control:focus, .form-group.form-group-no-border .form-control:active, .form-group.form-group-no-border .form-control:active,
  .form-group.form-group-no-border .form-control + .input-group-addon:focus,
  .form-group.form-group-no-border .form-control + .input-group-addon:active,
  .form-group.form-group-no-border .form-control + .input-group-addon:active,
  .input-group.form-group-no-border .form-control:focus,
  .input-group.form-group-no-border .form-control:active,
  .input-group.form-group-no-border .form-control:active,
  .input-group.form-group-no-border .form-control + .input-group-addon:focus,
  .input-group.form-group-no-border .form-control + .input-group-addon:active,
  .input-group.form-group-no-border .form-control + .input-group-addon:active {
    border: medium none;
    background-color: rgba(222, 222, 222, 0.5); }
.form-group.form-group-no-border .form-control:focus + .input-group-addon,
.input-group.form-group-no-border .form-control:focus + .input-group-addon {
  background-color: rgba(222, 222, 222, 0.5); }
.form-group.form-group-no-border .input-group-addon,
.input-group.form-group-no-border .input-group-addon {
  background-color: rgba(222, 222, 222, 0.3);
  border: none; }

.has-error .form-control-feedback, .has-error .control-label {
  color: #FF3636; }

.has-success .form-control-feedback, .has-success .control-label {
  color: #18ce0f; }

.input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 0;
  color: #555555;
  padding: -0.6rem 0 -0.6rem -0.3rem;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out; }
  .has-success .input-group-addon, .has-danger .input-group-addon {
    background-color: #FFFFFF; }
  .has-danger .form-control:focus + .input-group-addon {
    color: #FF3636; }
  .has-success .form-control:focus + .input-group-addon {
    color: #18ce0f; }
  .input-group-addon + .form-control, .input-group-addon ~ .form-control {
    padding: -0.6rem 0.7rem;
    padding-left: 18px; }
  .input-group-addon i {
    width: 17px; }

.input-group-focus .input-group-addon {
  background-color: #FFFFFF;
  border-color: #E3E3E3; }
.input-group-focus.form-group-no-border .input-group-addon {
  background-color: rgba(222, 222, 222, 0.5); }

.input-group,
.form-group {
  margin-bottom: 10px; }

.input-group[disabled] .input-group-addon {
  background-color: #E3E3E3; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-left: 0 none; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #E3E3E3;
  color: #888;
  cursor: not-allowed; }

.input-group-btn .btn {
  border-width: 1px;
  padding: 11px 0.7rem; }

.input-group-btn .btn-default:not(.btn-fill) {
  border-color: #DDDDDD; }

.input-group-btn:last-child > .btn {
  margin-left: 0; }

textarea.form-control {
  max-width: 100%;
  padding: 10px 10px 0 0;
  resize: none;
  border: none;
  border-bottom: 1px solid #E3E3E3;
  border-radius: 0;
  line-height: 2; }
  textarea.form-control:focus, textarea.form-control:active {
    border-left: none;
    border-top: none;
    border-right: none; }

.has-success.form-group .form-control, .has-success.form-group.form-group-no-border .form-control,
.has-danger.form-group .form-control,
.has-danger.form-group.form-group-no-border .form-control {
  padding-right: 40px; }

.form-group {
  position: relative; }

.form-group.has-error, .form-group.has-danger {
  margin-bottom: 20px; }

.modal-content {
  border-radius: 0.1875rem;
  border: none;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.5); }
  .modal-content .modal-header {
    border-bottom: none;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px; }
    .modal-content .modal-header button {
      position: absolute;
      right: 27px;
      top: 30px;
      outline: 0; }
    .modal-content .modal-header .title {
      margin-top: 5px;
      margin-bottom: 0; }
  .modal-content .modal-body {
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    line-height: 1.9; }
  .modal-content .modal-footer {
    border-top: none;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    -webkit-justify-content: space-between;
    /* Safari 6.1+ */
    justify-content: space-between; }
    .modal-content .modal-footer button {
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      width: auto; }
      .modal-content .modal-footer button.pull-left {
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        left: -5px; }
  .modal-content .modal-body + .modal-footer {
    padding-top: 0; }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.3); }

.modal.modal-mini p {
  text-align: center; }
.modal.modal-mini .modal-dialog {
  max-width: 255px;
  margin: 0 auto; }
.modal.modal-mini .modal-profile {
  width: 70px;
  height: 70px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  line-height: 5.9;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3); }
  .modal.modal-mini .modal-profile i {
    color: #2CA8FF;
    font-size: 21px; }
  .modal.modal-mini .modal-profile[class*="modal-profile-"] i {
    color: #FFFFFF; }
  .modal.modal-mini .modal-profile.modal-profile-primary {
    background-color: #2CA8FF; }
  .modal.modal-mini .modal-profile.modal-profile-danger {
    background-color: #FF3636; }
  .modal.modal-mini .modal-profile.modal-profile-warning {
    background-color: #FFB236; }
  .modal.modal-mini .modal-profile.modal-profile-success {
    background-color: #18ce0f; }
  .modal.modal-mini .modal-profile.modal-profile-info {
    background-color: #2CA8FF; }
.modal.modal-mini .modal-footer button {
  text-transform: uppercase; }
  .modal.modal-mini .modal-footer button:first-child {
    opacity: .5; }
.modal.modal-default .modal-content {
  background-color: #FFFFFF;
  color: #2c2c2c; }
.modal.modal-default .modal-header .close {
  color: #2c2c2c; }
.modal.modal-primary .modal-content {
  background-color: #2CA8FF;
  color: #FFFFFF; }
.modal.modal-primary .modal-header .close {
  color: #FFFFFF; }
.modal.modal-danger .modal-content {
  background-color: #FF3636;
  color: #FFFFFF; }
.modal.modal-danger .modal-header .close {
  color: #FFFFFF; }
.modal.modal-warning .modal-content {
  background-color: #FFB236;
  color: #FFFFFF; }
.modal.modal-warning .modal-header .close {
  color: #FFFFFF; }
.modal.modal-success .modal-content {
  background-color: #18ce0f;
  color: #FFFFFF; }
.modal.modal-success .modal-header .close {
  color: #FFFFFF; }
.modal.modal-info .modal-content {
  background-color: #2CA8FF;
  color: #FFFFFF; }
.modal.modal-info .modal-header .close {
  color: #FFFFFF; }
.modal.modal-transparent .modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  color: #FFFFFF; }
.modal.modal-transparent .modal-header .close {
  color: #FFFFFF; }
.modal.show.modal-mini .modal-dialog {
  -webkit-transform: translate(0, 30%);
  -o-transform: translate(0, 30%);
  transform: translate(0, 30%); }
.modal .modal-header .close {
  color: #FF3636;
  text-shadow: none; }
  .modal .modal-header .close:hover, .modal .modal-header .close:focus {
    opacity: 1; }

body {
  font-family: "Quicksand", sans-serif;
  background: url("/assets/img/img-opacity.jpg") no-repeat fixed center;
  background-size: cover; }

body.modal-open .blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

.navbar-translate {
  width: 100%; }

.section {
  padding: 80px 0; }

.show {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }

.collapse {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }

.collapse.show {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }

.navbar-nav {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }

.section-bg-gray {
  background-color: #F5F5F5; }

.modal-backdrop {
  background: rgba(0, 0, 0, 0.6); }

.modal-backdrop.show {
  opacity: .7; }

.modal form {
  width: 100%; }
  .modal form input[type="text"],
  .modal form input[type="email"],
  .modal form input[type="password"] {
    border: 1px solid rgba(222, 222, 222, 0.8);
    margin: 0 0 10px 0;
    color: #999; }
    .modal form input[type="text"]:hover, .modal form input[type="text"]:focus,
    .modal form input[type="email"]:hover,
    .modal form input[type="email"]:focus,
    .modal form input[type="password"]:hover,
    .modal form input[type="password"]:focus {
      border: 1px solid gray; }
  .modal form .form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
    filter: alpha(opacity=100); }
  .modal form .form-control:-moz-placeholder {
    color: #999999;
    opacity: 1;
    filter: alpha(opacity=100); }
  .modal form .form-control::-webkit-input-placeholder {
    color: #999999;
    opacity: 1;
    filter: alpha(opacity=100); }
  .modal form .form-control:-ms-input-placeholder {
    color: #999999;
    opacity: 1;
    filter: alpha(opacity=100); }
.modal .modal-header {
  border-bottom: 1px solid rgba(222, 222, 222, 0.8);
  padding-bottom: 24px !important; }
.modal .modal-footer {
  border-top: 1px solid rgba(222, 222, 222, 0.8);
  padding-top: 15px !important; }

.index-page .intro {
  position: relative;
  height: 100vh;
  max-height: 1015px; }
  .index-page .intro .intro-background-image {
    position: absolute;
    background: none;
    background-size: 100%;
    background-position: no-repeat fixed center;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .index-page .intro .container {
    z-index: 2;
    height: 100%;
    z-index: 1;
    position: relative; }
    .index-page .intro .container .intro-left {
      position: relative;
      text-align: left;
      top: 65%;
      left: 4%;
      width: 100%;
      -ms-transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
      .index-page .intro .container .intro-left .intro-text-block {
        display: block;
        color: #FFFFFF;
        margin: 0 0 25px 0; }
        .index-page .intro .container .intro-left .intro-text-block i {
          display: inline-block;
          width: 8%;
          font-size: 30px;
          vertical-align: top;
          margin-right: 3%;
          color: #2CA8FF; }
        .index-page .intro .container .intro-left .intro-text-block span {
          display: inline-block;
          width: 80%; }
        .index-page .intro .container .intro-left .intro-text-block h5 {
          text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.97); }
        .index-page .intro .container .intro-left .intro-text-block p {
          color: rgba(255, 255, 255, 0.8);
          font-size: 13px;
          font-weight: 300; }
    .index-page .intro .container .intro-right {
      position: relative;
      text-align: left;
      top: 65%;
      right: auto;
      width: 100%;
      -ms-transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
      .index-page .intro .container .intro-right .intro-right-card {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.1875rem;
        display: block;
        color: #FFFFFF;
        margin: 0 0 25px 0;
        padding: 30px;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
        .index-page .intro .container .intro-right .intro-right-card h5 {
          margin: 0 0 5px 0; }
        .index-page .intro .container .intro-right .intro-right-card p {
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          font-size: 11px;
          margin: 0 0 30px 0; }
        .index-page .intro .container .intro-right .intro-right-card .btn {
          border-radius: 30px;
          margin: 25px 0 0 0;
          text-transform: uppercase;
          font-size: 12px;
          padding: 11px 35px; }
        .index-page .intro .container .intro-right .intro-right-card form .form-control {
          color: #FFFFFF; }
          .index-page .intro .container .intro-right .intro-right-card form .form-control:focus {
            background: transparent;
            color: #FFFFFF; }
        .index-page .intro .container .intro-right .intro-right-card form .input-group-addon {
          background-color: transparent;
          color: #FFFFFF; }
        .index-page .intro .container .intro-right .intro-right-card a {
          color: rgba(255, 255, 255, 0.8);
          position: relative;
          top: 15px; }
          .index-page .intro .container .intro-right .intro-right-card a:hover {
            text-decoration: none;
            color: #FFFFFF; }
  .index-page .intro .intro-footer {
    visibility: hidden; }

@media (min-width: 568px) {
  .index-page .intro {
    position: relative;
    height: 100vh;
    max-height: 1015px; }
    .index-page .intro .container .intro-left {
      position: absolute;
      left: 0%;
      top: 50%;
      width: 50%;
      -ms-transform: translate(0%, 0%);
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%); }
    .index-page .intro .container .intro-right {
      position: absolute;
      right: 0%;
      top: 50%;
      width: 52%;
      -ms-transform: translate(0%, 0%);
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%); } }
@media (min-width: 768px) {
  .index-page .intro .container .intro-left {
    -ms-transform: translate(0%, -40%);
    -webkit-transform: translate(0%, -40%);
    transform: translate(0%, -40%); }
  .index-page .intro .container .intro-right {
    -ms-transform: translate(0%, -40%);
    -webkit-transform: translate(0%, -40%);
    transform: translate(0%, -40%); } }
@media (min-width: 992px) {
  body {
    background: none;
    background-size: auto; }

  .navbar-translate {
    width: auto; }

  .index-page .intro {
    position: relative;
    height: 100vh;
    max-height: 1015px; }
    .index-page .intro .intro-background-image {
      background: url("/assets/img/img1.png") center center no-repeat;
      background-size: cover;
      background-position: center center; }
    .index-page .intro[data-filter-color="theme"] {
      background: rgba(44, 44, 44, 0.5);
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.5), rgba(30, 30, 30, 0.6));
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.5), rgba(30, 30, 30, 0.6));
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.5), rgba(30, 30, 30, 0.6));
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(0deg, rgba(44, 44, 44, 0.5), rgba(30, 30, 30, 0.6));
      /* Standard syntax */ }
    .index-page .intro .container .intro-left {
      position: absolute;
      left: 10%;
      width: 50%;
      -ms-transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
    .index-page .intro .container .intro-right {
      position: absolute;
      right: 10%;
      width: 30%;
      -ms-transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
    .index-page .intro .intro-footer {
      position: absolute;
      bottom: 25px;
      left: 0;
      right: 0;
      text-align: center;
      padding-top: 28px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      visibility: visible; }
      .index-page .intro .intro-footer h5 {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 300; }

  .dropdown .dropdown-menu {
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    visibility: hidden;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0); }
  .dropdown.show .dropdown-menu, .dropdown-menu.open {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); }
  .navbar .dropdown.show .dropdown-menu {
    -webkit-transform: translate3d(0, 7px, 0);
    -moz-transform: translate3d(0, 7px, 0);
    -o-transform: translate3d(0, 7px, 0);
    -ms-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0); } }

/*# sourceMappingURL=ipi-praksa.css.map */
