body {
	font-family: 'Roboto', sans-serif;
	background: url("../img/image-117.png")	no-repeat fixed center;
	background-size: 110%;
}

.container {
  background-color: transparent;
}

.img-responsive {
  width: 100%;
}

.pre-container {
  position: fixed;
  top: 0px;
}
.main-container {
  background-color: transparent;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.ipi-logo {
  width: 80%;
  opacity: 0.85;
}

.logo img {
  height: 200px;
  width: 200px;
  opacity: 0.85;
  margin-left: 70px;
  margin-right: 50px;
}
 
.logo img:hover {
  opacity: 1;
}

.footer {
    background-color:  black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #21212100;
    z-index: 1090;
}

.footer-reg {
    background-color:  black;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #21212100;
}

.podnaslov {
	text-align: center;
}

.mtop-1 {
	margin-top: 1rem;
}

.h-full {
	height: calc(100vh - 200px);
}

.pre-footer {
	height: 80px;
	border-bottom: 1px solid #fafafa;
}

/*Custom overrides*/

.picker__select--month, .picker__select--year {
	padding: 0px !important;
}

.picker__frame {
	margin-bottom: 18% !important;
}

.easy-autocomplete-container ul li {
	list-style-type: none !important;

}

.fas, .fab {
	opacity: 0.85;
	color: white;
	font-size: 40px;
	padding: 10px;
	padding-bottom: 0px;
}

.fa{
  opacity: 0.9;
  color: white;
}

.fb-icon:hover {
	color: #4285f4;
}

.ig-icon:hover {
	color: #000000;
}

.moodle-icon:hover {
	color: #f80;
}

.md-form .form-control {
  color:white;
}

.log-form {
  padding-top:12%;
}

.req-form {
  padding-top:7%;
}

.reg-form {
  padding-top:2%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: lighter;
    color: white;
    opacity: 0.9; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: lighter;
    opacity: 0.9;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-weight: lighter;
    opacity: 0.9;
}

.form-controler {
	background-color: grey;
	color: white;
}

.easy-autocomplete-container {
  color: #fff;
  background: rgba(117, 117, 117, 0.3);
  cursor: pointer;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: grey;
    cursor: default;
}

/* FOR TABLET, MOBILE, ETC */

@media only screen and (max-width: 1200px) {
    body {
       background-size: auto;
    }
}